// COLORS
$white-color: #FFEDE6;
$black-color: #260E03;

$light-primary-color: #F5713D;
$primary-color: #BB4411;
$dark-primary-color: #9B3708;

$secondary-color: #B56D4E;
$dark-secondary-color: #6E5D6F;

$accent-color: #C7123C;

// highlighting
$white-highlight: #FFEDE650;
$white-highlight-lite: #FFEDE695;
$primary-highlight: #BB441170;
$accent-highlight: #C7123C90;
$accent-highlight-lite: #C7123C70;
 
// links
$primary-link: #da79599a;

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
