// COLORS
$light-primary-color: #da7959;
$dark-primary-color: #aa3c09;
$darkest-primary-color: #8a3913;
$light-secondary-color: #7baab6;
$dark-secondary-color: #006079;

$white-color: #fde9db;
$peach-white-color: #d8b391;
$dark-grey: #292525;

// text colors
$light-primary-text: #ec9c6e;
$dark-primary-text: #d44e00;
$darker-primary-text: #9b3900;
$darkest-primary-text: #7c2e00;
$light-secondary-text: #5d8596;
$dark-secondary-text: #1b546b;
$darker-secondary-text: rgb(30, 67, 82);

// highlighting
$dark-secondary-highlight: #1a546b77;
$light-secondary-highlight: #84b4c9d8;
$light-primary-highlight: #ce733ff3;
$dark-primary-highlight: #7c2e00c2;
 
// links
$primary-link: #da79599a;

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
