// COLORS
$primary-color: #da7959;
$secondary-color: #76abc2;

$white-color: #fde9db;
$dark-grey: #3f3f3f;

// headings
//$light-orange-text: #d89c5f;
$light-orange-text: #d88c60;
$dark-orange-text: #d44e00;
$light-blue-text: #5d8596;
$dark-blue-text: #1b546b;

// highlighting
$dark-blue-highlight: #1a546b77;
$light-blue-highlight: #87c5df3f;

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
