@import './variables';
@import './transitions';

@import './components/menus/nav';
@import './components/menus/socials';
@import './components/sections/section';
@import './components/sections/hero';
@import './components/sections/about';
@import './components/sections/projects';
@import './components/sections/contact';

@import "./typography.css";

html {
    background-color: $black-color;
    //background-image: linear-gradient(110deg, $primary-color 30%, $accent-color 120%);
    min-height: 100%;
    min-width: 100%;
    background-attachment: fixed;
}

.main {
    position: absolute;
    width: 100%;
    height: calc(100% - 30px);
    //overflow: hidden;
    left: 0;
    top: 0;

    h1 {
        color: $white-color;
        font-family: 'Muli Black', sans-serif;
        font-weight: bold;
        font-size: $biggest-font-size;
        letter-spacing: 0.2rem;
        margin: 0;

        @media screen and (max-width: 800px) {
            display: flex;
            font-size: $big-font-size;
            letter-spacing: 0.1rem;
            justify-items: space-around;
            margin: 0 1rem;
            text-align: center;
        }
    }

    h2 {
        color: $white-color;
        font-family: 'Muli ExtraBoldItalic', sans-serif;
        text-align: center;
        line-height: 3rem;
        font-size: $big-font-size;
        letter-spacing: 0.1rem;
        padding: 3rem 0;
        justify-content: center;

        @media screen and (max-width: 800px) {
            display: flex;
            font-size: $big-font-size;
            letter-spacing: 0.1rem;
            margin: 1rem;
        }
    }

    h3 {
        color: $white-color;
        font-family: Muli, sans-serif;
        letter-spacing: 0.1rem;
        line-height: 2.5rem;
        font-size: $mid-font-size;
        padding: 0.3rem;
        margin: 0;

        @media screen and (max-width: 800px) {
            display: flex;
        }
    }

    h4 {
        color: $white-color;
        font-family: 'Space Mono', monospace;
        letter-spacing: 0.2rem;
        line-height: 2rem;
        font-size: $default-font-size;

        @media screen and (max-width: 800px) {
            display: flex;
            flex-direction: column;
            font-size: $small-font-size;
        }
    }

    h5 {
        color: $white-color;
        font-family: 'Space Mono', monospace;
        font-weight: normal;
        padding: 0;
        margin: 0;
        line-height: 20px;
        font-size: $small-font-size;
        letter-spacing: 0.3rem;

        @media screen and (max-width: 800px) {
            display: flex;
        }
    }

    #center { 
        margin: auto;
        padding: 0 20%;
        text-align: justify;
    }
}

ul > li {
    font-family: 'Space Mono', monospace;
}

p {
    font-family: 'Space Mono', monospace;
    font-size: $small-font-size;
    line-height: 1.5rem;
    color: $white-color;
}

a {
    color: $white-color;
    font-size: $small-font-size;
    font-family: 'Space Mono', monospace;
}

a:hover {
    color: $primary-color;
}

button {
    -webkit-appearance: none;
    border: none;
    border-radius: 5px; /* 5px rounded corners */
    background-color: $white-color;
    opacity: 0.9;
    text-align: center;
    display: inline-flex;
    font-size: $small-font-size;
    cursor: pointer;
    font-family: 'Space Mono BoldItalic', monospace;
    color: $black-color;

    a {
        color: $black-color;
        font-family: 'Space Mono BoldItalic', monospace;
        text-decoration: none;
    }
} 

button:hover {
    opacity: 1;
    a {
      color: $primary-color;
    }
}

.btn-outline {
    padding: 10px;
    margin: 2px 2px;
    border: 2px solid $primary-color;
    background-color: Transparent;
}

.btn-transparent {
    padding: 5px;
    border: none;
    background-color: Transparent;
}

.footer {
    font-size: $tiny-font-size;

    a {
        font-size: $tiny-font-size;
    }
}

@media screen and (max-width: 800px) {
    .main {
        display: flex;
        flex-direction: column;
    }
}