@import './variables';
@import './transitions';

@import './components/menus/nav';
@import './components/menus/socials';
@import './components/sections/section';
@import './components/sections/hero';
@import './components/sections/about';
@import './components/sections/projects';
@import './components/sections/contact';

@import "./typography.css";

html {
    background-color: $primary-color;
    background-image: linear-gradient(110deg, $primary-color 30%, $accent-color 120%);
    min-height: 100%;
    background-attachment: fixed;
}

.main {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;

    h1 {
        color: $white-color;
        font-family: bebas;
        font-size: 5rem;
        letter-spacing: 0.5rem;
        margin: 0;

        @media screen and (max-width: 800px) {
            font-size: 3rem;
        }
    }

    h2 {
        color: $white-color;
        font-family: rochester twee;
        text-align: center;
        line-height: 50px;
        font-size: 40px;
        letter-spacing: 5px;
        padding: 10px;

        @media screen and (max-width: 800px) {
            font-size: 30px;
        }
    }

    h3 {
        color: $white-color;
        font-family: georgia;
        line-height: 40px;
        font-size: 20px;
        letter-spacing: 3px;

        @media screen and (max-width: 800px) {
            font-size: 14px;
        }
    }

    h4 {
        color: $primary-color;
        font-family: tnanti;
        line-height: 30px;
        font-size: 25px;

        @media screen and (max-width: 800px) {
            font-size: 18px;
        }
    }

    #center { 
        margin: auto;
        width: 35%;
        text-align: justify;
    }
}

ul > li {
    font-family: Courier New;
    font-weight: bold;
}

p {
    font-family: Georgia;
    font-size: 16px;
    line-height: 30px;
    color: $white-color;
    font-weight: bold;
}

a {
    color: $white-color;
    font-family: georgia;
}

a:hover {
    color: $black-color;
}

button {
    -webkit-appearance: none;
    border: none;
    border-radius: 5px; /* 5px rounded corners */
    background-color: $white-color;
    opacity: 0.6;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.5s;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: $black-color;

    a {
        color: $primary-color;
        text-decoration: none;
    }
} 

button:hover {
    opacity: 1;
    a {
      color: $white-color;
    }
}

.btn-outline {
    padding: 10px;
    margin: 2px 2px;
    border: 2px solid $white-color;
    background-color: Transparent;
}

.btn-transparent {
    padding: 5px;
    border: none;
    background-color: Transparent;
}

@media screen and (max-width: 800px) {
    html {
        background-image: none;
        background-color: $primary-color;
    }

    #main {
        width: 100%;
        display: block;
    }
}