/* https://reactcommunity.org/react-transition-group/css-transition */

/* Fade */

.fade-enter{
    opacity: 0;
    visibility: hidden;
    transition: ease 2s;
}

.fade-enter-active{
    opacity: 1;
    visibility: visible;
    transition: ease 2s;
}

.fade-exit {
    visibility: visible;
    opacity: 0;
}

.fade-exit-active{
    opacity: 0;
    visibility: hidden;
    transition: ease 2s;
}

/* Slide */

.slide-enter {
  opacity: 0;
  margin-left: -100%;
}

.slide-enter-active {
  opacity: 1;
  margin-left: 0;
  transition: ease 2s;
}

.slide-exit {
  opacity: 1;
  margin-left: 0;
}

.slide-exit-active {
  opacity: 1;
  margin-left: 100%;
  transition: ease 2s;
}

/* Drop down */

.dropdown-enter {
    opacity: 0;
    margin-top: -5%;
    transition: margin-top 2s ease-in, opacity 2s ease;
}
.dropdown-enter-active {
    opacity: 1;
    margin-top: 0;
}
.dropdown-exit {
    opacity: 1;
    margin-top: 0;
    transition: margin-top 2s ease-out, opacity 2s ease;
}
.dropdown-exit-active {
    opacity: 0;
    margin-top: 0;
}

/* Drop up */

.dropup-enter {
    opacity: 0;
    margin-top: 5%;
    transition: margin-top 2s ease-in, opacity 3s ease;
}
.dropup-enter-active {
    opacity: 1;
    margin-top: 0;
}
.dropup-exit {
    opacity: 1;
    margin-top: 0;
    transition: margin-top 2s ease-out, opacity 3s ease;
}
.dropup-exit-active {
    opacity: 0;
    margin-top: 0%;
}