#about {
  background-color: $white-color;
  background-image: linear-gradient(
    180deg,
    $white-color 0,
    $primary-color 90%
  );
  color: $black-color;
  height: 100%;
  border-top: 0px;
  //-webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  //clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  padding: 10rem 15rem;

  p {
    color: $white-color;
  }
}

@media screen and (max-width: 800px) {
  #about {
      width: 100%;
      display: block;
  }
}