#contact {
  padding: 8rem 15rem;
  margin-bottom: -1px;
  color: $primary-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    text-align: center;
    color: $primary-color;
  }

  a {
    //color: $accent-color;   
    font-size: $big-font-size;
  }
}

@media screen and (max-width: 800px) {
  #contact {
      display: block;
      padding: 8rem 1rem;
  }
}
  