#contact {
  background-image: linear-gradient(180deg, $primary-color 30%, $primary-color 100%);
  // -webkit-clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
  // clip-path: polygon(0 10vh, 100% 0, 100% 100%, 0 100%);
  padding: 6rem 15rem;
  margin-bottom: -1px;
  color: $white-color;

  p {
    text-align: center;
    color: $black-color;
  }

  a {
    color: $white-color;   
    font-size:$mid-font-size;
  }

  a:hover {
    color: $accent-color;
    border-bottom: 0 solid $accent-color;
  }
}

@media screen and (max-width: 800px) {
  #contact {
      display: block;
      padding: 8rem 1rem;
  }
}
  