#contact {
  padding: 6rem 15rem;
  margin-bottom: -1px;
  color: $primary-color;

  p {
    text-align: center;
    color: $primary-color;
  }

  a {
    color: $white-color;   
    font-size: $mid-font-size;
  }

  a:hover {
    color: $black-color;
  }
}

@media screen and (max-width: 800px) {
  #contact {
      display: block;
      padding: 8rem 1rem;
  }
}
  