#hero {
  min-height: 100vh;
  height: 100vh;
  display: block;
  border-bottom: 0px;
  background: $white-color;
  font-weight: 400;
  color: $dark-orange-text;
  padding: 0rem 5.6rem;
  margin-top: 3rem;
  margin-bottom: 0;

  // If you want to set a background image on the hero section, uncomment these with yout custom image

  /* background: url("/src/assets/[your-image].png");
  background-position: center;
  background-size: cover; */
}
  