#hero {
  min-height: 100vh;
  height: 100vh;
  display: block;
  border-bottom: 0px;
  padding: 5.6rem;
  margin-bottom: 0;
  overflow-y: hidden;

  .regular {
    color: $white-color;
  }

  #bio {
    width: 28rem;
  }

  button {
    border: none;
    border-radius: 5px; /* 5px rounded corners */
    background-color: $white-color;
    opacity: 0.6;
    border-color: $black-color;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    transition-duration: 0.5s;
    cursor: pointer;

    a {
      color: $primary-color;
      font-family: 'Courier New', Courier, monospace;
      font-weight: bold;
      text-decoration: none;
    }
  } 

  button:hover {
    opacity: 1;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    a {
      color: $accent-color;
    }
  }
}

@media screen and (max-width: 800px) {
  #hero {
    display: block;
    padding: 5rem 1rem;
    height: 100%;
    min-height: 100%;
  
    #bio {
      width: 90%;
    }
  }
}