#projects {
    background-color: $light-primary-text;
    margin-top: -10rem;
    padding: 10rem 15rem 15rem 15rem;
    box-sizing: border-box;
    font-family: verdana;
    color: $light-secondary-text;
    //margin-left: 150px;

    h2 {
        color: $dark-primary-text;
    }

    p {
        color: $dark-secondary-text;
    }
    
    /* Float four columns side by side */
    .column {
        float: left;
        width: 30%;
        padding: 0 10px;
    }
    
    /* Remove extra left and right margins, due to padding in columns */
    .row {
        //margin: 0 -5px;
        margin: auto;
        padding-left: 50px;
        width: 80%;
    }
    
    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    
    /* Style the counter cards */
    .card {
        box-shadow: 2px 4px 8px 0 $dark-primary-highlight; /* this adds the "card" effect */
        padding: 0px;
        margin-top: 30px;
        text-align: center;
        //border-radius: 5px; /* 5px rounded corners */
        background-color: $peach-white-color;

        /* Add some padding inside the card container */
        .container {
            padding: 2px 10px;
        }
    }

    /* On mouse-over, add a deeper shadow */
    // .card:hover {
    //     box-shadow: 4px 8px 8px 0 $primary-highlight;
    // }

    /* Add rounded corners to the top left and the top right corner of the image */
    // img {
    //     border-radius: 5px 5px 0 0;
    // }
    
    /* Responsive columns - one column layout (vertical) on small screens */
    @media screen and (max-width: 900px) {
        .column {
            width: 100%;
            display: block;
            margin-bottom: 20px;
        }
    }
}
  