#projects {
    color: $white-color;
    border-top: 0;
    padding: 1rem;
    justify-content: center;
    align-items: center;

    a {
        color: $white-highlight-lite;
    }

    a:hover {
        color: $white-color;
    }

    .project {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 100%;
        margin-bottom: 72px;
    }

    .project-img {
        display: flex;
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 70px 80px rgba(0, 0, 0, 0.12);
        width: 450px;
        height: 250px;
        margin-left: 20px;
        margin-top: -230px;
    }

    .img-card {
        height: 270px;
        width: 470px;
    }

    .img-layer-one {
        display: none;
        background-color: $accent-color;
        opacity: 0.8;
        //background-image: linear-gradient(160deg, $primary-color 40%, $accent-color 100%);
        top: 10px;
        height: 250px;
        width: 450px;
        z-index: 0;
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 70px 80px rgba(0, 0, 0, 0.12);
    }

    .img-layer-two {
        background-color: $primary-color;
        opacity: 0.7;
        height: 250px;
        width: 450px;
    }

    .card-wrap {
        background-color: $primary-color;
        //background-image: linear-gradient(160deg, $primary-color 50%, $accent-color 100%);
        padding: 0.3rem;
        left: -0.5rem;
        top: -0.5rem;
        position: relative;
    }

    .prj-card {
        margin-top: 50px;
        display: flex;
        max-width: 470px;
        flex-direction: column;

        .project-description {
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-bottom: 5%;
            background-color: $black-color;
            opacity: 0.9;
            box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048),
            0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072),
            0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 70px 60px rgba(0, 0, 0, 0.12);

            p {
                padding: 1rem;
                color: $white-color;
                font-size: $small-font-size;
                margin: 0;
            }
        }

        .project-title {
            background-color: $black-highlight;
            text-align: right;
            padding: 0 0.4rem;
            color: $white-color;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            justify-content: flex-end;
            align-items: flex-end;
            right: 0;

            @media screen and (max-width: 800px) {
                // margin-top: -3%;
            }
        }

        .prj-footer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .project-links {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding-right: 0.5rem;
            line-height: 1.0;

            a {
                margin-left: 0.5rem;
                font-size: $big-default-font-size;
                display: inline-flex;
            }
        }

        .project-tech {
            display: flex;
            justify-content: flex-start;
            font-size: $tiny-font-size;
            align-items: center;

            ul {
                list-style-type: none;
                padding: 2px 0;
                height: auto;
                display: flex;
                align-items: center;
            }
            
            li {
                border-radius: 5px;
                background-image: linear-gradient(200deg, $white-highlight 50%, $black-highlight 150%);
                display: inline-flex;
                padding: 0 1rem;
                margin: 8px;
                font-family: 'Space Mono Italic', monospace;
            }
        }
    }

    /* Add rounded corners to the top left and the top right corner of the image */
    //img {
    //    border-radius: 10px;
    //}
}
    
/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 800px) {
    #projects {
        padding: 1rem;
        width: unset;

        .project {
            width: 100%;
            min-height: 400px;
            margin-bottom: 100px;
        }

        .img-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }

        .project-img {
            display: flex;
            width: 330px;
            height: 210px;
            margin-left: 20px;
            margin-top: -200px;
        }

        .img-layer-two {
            width: 330px;
            height: 210px;
        }

        .prj-card {
            display: flex;
            width: 100%;
            max-width: 340px;
            margin: 0px;

            .project-title {
                text-align: right;
            }

            .project-description {
                display: flex;
                width: 100%;
                min-width: 200px;
                padding: 0;
            }

            .project-tech {
                ul {
                    height: 30px;
                }
            }

            .project-links {
                display: flex;
                justify-content: flex-end;
                width: 90%;

                a {
                    margin-left: 0.5rem;
                }
            }
        }
    }
}
