#projects {
    color: $white-color;
    height: 100%;
    border-top: 0px;
    padding: 2rem;
    //background-clip: content-box;

    a {
        color: $white-highlight-lite;
    }

    a:hover {
        color: $white-color;
    }

    .project {
        position: relative;
        z-index: 0;
        height: 600px;
        width: 600px;
        margin: auto;
    }

    .project-img:before {
        z-index: 2;
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        background: $black-color;
        opacity: 0.3;
        //background: -webkit-linear-gradient(90deg, $black-color, $primary-color 200%);
        //background: linear-gradient(90deg, $black-color, $primary-color 200%); /* The least supported option. */
    }
    
    .project-img {
        position: absolute;
        z-index: 1;
        box-shadow:
            0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048),
            0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072),
            0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 70px 80px rgba(0, 0, 0, 0.12);
        width: 450px;
        margin-left: 20px;
    }

    .img-card {
        height: 200px;
        width: 200px;
    }

    .img-layer-one {
        display: none;
        background-color: $accent-color;
        opacity: 0.8;
        //background-image: linear-gradient(160deg, $primary-color 40%, $accent-color 100%);
        top: 1.5rem;
        height: 10rem;
        width: 30.7rem;
        border-bottom-left-radius: 0.5rem;
        z-index: 0;
        position: absolute;
        box-shadow:
            0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048),
            0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072),
            0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 70px 80px rgba(0, 0, 0, 0.12);
    }

    .img-layer-two {
        background-color: $primary-color;
        opacity: 0.7;
        //background-image: linear-gradient(160deg, $primary-color 40%, $accent-color 100%);
        top: -0.7rem;
        left: 0.4rem;
        height: 210px;
        width: 450px;
        border-bottom-left-radius: 0.5rem;
        z-index: 0;
        position: absolute;
    }

    .card-wrap {
        background-color: $primary-color;
        //background-image: linear-gradient(160deg, $primary-color 50%, $accent-color 100%);
        padding: 0.3rem;
        left: -0.5rem;
        top: -0.5rem;
        position: relative;
    }
    
    .prj-card {
        position: absolute;
        z-index: 3;
        margin-left: 40%;
        display: flex;
        flex-direction: column;

        .project-description {
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-bottom: 5%;
            background-color: $black-color;
            opacity: 0.9;
            box-shadow:
            0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048),
            0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072),
            0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 70px 60px rgba(0, 0, 0, 0.12);

            p {
                padding: 1rem;
                color: $white-color;
                font-size: $small-font-size;
                margin: 0;
            }
        }
    
        .project-title {
            background-color: $black-highlight;
            text-align: right;
            padding: 0 0.4rem;
            z-index: 0;
            color: $white-color;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            justify-content: flex-end;
            align-items: flex-end;
            position: absolute;
            right: 0;
            margin-top: -13.5%;

            @media screen and (max-width: 700px) {
                margin-top: -3%;
            }
        }

        .prj-footer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .project-links {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding-right: 0.5rem;
            line-height: 1.0;

            a {
                margin-left: 0.5rem;
                font-size: $big-default-font-size;
                display: inline-flex;
            }
        }

        .project-tech {
            display: flex;
            justify-content: flex-start;
            padding-left: 0.5rem;
            font-size: $tiny-font-size;
            align-items: center;

            ul {
                list-style-type: none;
                padding: 2px 0;
                margin: 0;
                //background-color: $white-highlight;
                background-image: linear-gradient(200deg, $white-highlight 50%, $black-highlight 150%);
                border-radius: 5px;
                display: flex;
                align-items: center;
            }
            li {
                display: inline-flex;
                padding: 0 1rem;
                font-family: 'Space Mono Italic', monospace;
            }
        }
    }

    /* Add rounded corners to the top left and the top right corner of the image */
    //img {
    //    border-radius: 10px;
    //}
    
    /* Responsive columns - one column layout (vertical) on small screens */
    @media screen and (max-width: 700px) {
        #projects {
            padding: 2rem;
        }

        .project {
            width: 80vw;
            height: 600px;
        }

        .project-img {
            display: block;
            width: 250px;
            min-width: 200px;
            margin-left: 10%;
        }

        .img-card {
            height: 100px;
            left: 0;
            position: relative;
        }

        .img-layer-one {
            //visibility: hidden;
            width: 80vw;
            height: 70px;
            position: absolute;
            left: 0;
            top: 10px;
        }

        .img-layer-two {
            height: 120px;
            width: 250px;
            top: -10px;
            left: 10px;
        }

        .prj-card {
            display: flex;
            width: 80vw;
            min-width: 200px;
            margin-left: 0;

            .project-title {
                text-align: right;
                position: absolute;
            }

            .project-description {
                display: block;
                width: 100%;
                min-width: 200px;
                padding: 0;
                margin-top: 35px;
            }

            .project-links {
                display: flex;
                justify-content: flex-end;
                width: 90%;

                a {
                    margin-left: 0.5rem;
                }
            }

            .project-tech {
                ul {
                    background-image: none;
                    background-color: $white-highlight;
                }
            }
        }
    }
  }
  