section {
    overflow-x: hidden; /* Disable horizontal scroll */

    .reveal{
      position: relative;
      transform: translateY(150px);
      opacity: 0;
      transition: 2s all ease;
    }
    .reveal.active{
      transform: translateY(0);
      opacity: 1;
    }

    @media screen and (max-width: 800px) {
        section {
            width: 100%;
            display: flex;
            padding: 2rem;
            height: calc(100% - 60px);
            flex-direction: column;
            position: absolute;
            top: 60px;
        }
    }
}