.nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    background-color: $dark-primary-color;
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    z-index: 1; /* Keep navbar on top of sections */

    a {
        color: $light-primary-color;
        font-family: georgia;
    }
}

.nav-content {
    text-align: right;
}

.nav-item {
    font-family: georgia;
    color: $light-primary-color;
    font-weight: bold;
    line-height: 2.0;
    display: inline;
    margin-left: 0rem;
    margin-right: 1rem;
}

.nav-item > a {
    color: $light-primary-color;
}

.nav-item > a:hover {
    color: $peach-white-color;
    border-bottom: 1px solid $peach-white-color;
    cursor: pointer;
}  

.nav-item > .active {
    color: $peach-white-color;
}

@media screen and (max-width: 800px) {
    #nav {
        width: 100%;
    }

    #nav-content {
        text-align: left;
    }
}