.socials {
    height: 100%;
    position: fixed;
    top: 7rem;
    right: 0.5rem;
    font-size: $mid-font-size;
    overflow-y: hidden; /* Disable vertical scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    z-index: 0; /* Keep navbar on top of sections but below project links */

    @media screen and (max-width: 800px) {
        display: none;
    }
}

.socials-item {
    font-family: 'arial narrow', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    line-height: 2.0;
    display: block;
    margin-left: 0rem;
    margin-right: 1rem;

    a {
        color: $white-color;
        opacity: 0.3;
    }

    a:hover {
        color: $primary-color;
        opacity: 1;
        cursor: pointer;
    }
}